.App {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  height: 100vh;           /* Full viewport height */
  margin: 0;               /* Remove default body margin */
}

.Content {
  width: 100px;
}

@keyframes spin {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.ColorBox {
  height: 220px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;  
  animation: spin 3s ease-in-out forwards;
  display: flex;            /* Enable Flexbox */
  justify-content: center;  /* Horizontally center content */
  align-items: center;      /* Vertically center content */
}

.ColorEntry {
  padding: 10px;
  font-size: 16px;
}



